* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-image: url("banner2.jpg");
    width: 100%;
    height: 450px;
}

/*Topnav --> listitems.
  Icon --> hamburger*/

.navbar {
    background-color: rgba(32, 24, 35, .3);
    width: 100%;
    height: 75px;
    position: absolute;
    text-align: right;
}

.listitems a.hamburger{
    display: none;
}

/* met deze verander je wanneer de hamburger komt, de links verdwijnen en er komt een hamburger in de plaats*/
@media screen and (max-width: 900px) {
    .listitems > li > a {
        display: none;
    }

    .listitems a.hamburger {
        position: absolute;
        float: left;
        display: block;
    }
 
}

/* dit is voor als de class "responsive heet, dus als je erop hebt geklikt en het scherm kleiner is...*/
@media screen and (max-width: 900px) {

    .listitems a.hamburger {
        float: left;
        position: absolute;
        display: block;
    }

    .listitems.responsive > li a {
        float: right;
        display: block; /* zodat ze onder elkaar komen*/
      
    }
}

.caption {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 204px;
    font-size: 20pt;
}

#welkom {
    font-size: 15pt;
}

.logo {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 20px;
}

#titel {
    text-align: left;
    padding-top: 25px;
    padding-right: 50px;
    color: white;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
}

.listitems {
    padding-right: 100px;
    overflow: hidden;
}

.listitems>li {
    display: inline-block;
    padding-right: 25px;
    padding-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listitems>li>a {
    text-decoration: none;
    color: white;
    font-size: 16pt;
}

.secties {
    padding-left: 300px;
    z-index: 2;
    margin-top: -50px;
    /*nu vallen de circles precies op de helft van de header div */
}

.sectie1 {
    display: inline-block;
    height: 120px;
    text-align: center;
    color: #575451;
    font-size: 18pt;
    padding-bottom: 119px;
}

#descriptie1 {
    font-size: 12pt;
}

.circle1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("code.png") no-repeat center #282828;
    background-size: 60px 60px;
    margin-bottom: 30px;
}

.sectie2 {
    padding-left: 195px;
    padding-right: 195px;
    display: inline-block;
    text-align: center;
    color: #575451;
    font-size: 18pt;
}

.circle2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("about.png") no-repeat center #282828;
    background-size: 60px 60px;
    margin-bottom: 30px;
}


.sectie3 {
    display: inline-block;
    text-align: center;
    color: #575451;
    font-size: 18pt;
}

@media screen and (max-width: 1025px) {
    .secties{
        display: block;
        color: #575451;
        font-size: 18pt;
        padding-left: 1px;
        margin-top: 0px;
        padding-bottom: 20px;
    }

    .sectie1{
        align-content: center;
        padding-top: 100px;
        padding-right: 25px;
        padding-left: 40px;
    }
    .sectie2{
        padding-left: 0;
        padding-right: 25px;

    }

}
.circle3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("berg.png") no-repeat center #282828;
    background-size: 60px 60px;
    margin-bottom: 30px;
}

.body {
    background-color: #f7f7f7;
    width: 100%;
    height: 345px;
    padding-bottom: 100px;
}

.bodyimage {
    background-image: url("VisualStudioCode.png");
    height: 345px;
    width: 650px;
    transform: translateY(15%);
}

.footer{
    padding-left: 10px ;
}