* {
    margin: 0;
    padding: 0;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'proxima-nova', sans-serif;
}

.header {
    background-image: url("afbeeldingen/banner2.jpg");
    width: 100%;
    height: 450px;
}

.navbar {
    background-color: rgba(32, 24, 35, .3);
    width: 100%;
    height: 75px;
    position: absolute;
    text-align: right;
}

.caption {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 204px;
    font-size: 20pt;
}

#welkom {
    font-size: 15pt;
}

.logo {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 20px;
}

#titel {
    text-align: left;
    padding-top: 25px;
    padding-right: 50px;
    color: white;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
}

.listitems {
    padding-right: 100px;
    overflow: hidden;
}

.listitems>li {
    display: inline-block;
    padding-right: 25px;
    padding-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listitems>li>a {
    text-decoration: none;
    color: white;
    font-size: 16pt;
}

.secties {
    padding-left: 300px;
    z-index: 2;
    margin-top: -50px;
    /*nu vallen de circles precies op de helft van de header div */
}

.sectie1 {
    display: inline-block;
    height: 120px;
    text-align: center;
    color: #575451;
    font-size: 18pt;
    padding-bottom: 119px;
}

#descriptie1 {
    font-size: 12pt;
}

.circle1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("afbeeldingen/code.png") no-repeat center #616060;
    background-size: 60px 60px;
    margin-bottom: 30px;
    cursor: pointer;
}

.sectie2 {
    padding-left: 195px;
    padding-right: 195px;
    display: inline-block;
    text-align: center;
    color: #575451;
    font-size: 18pt;
}

.circle2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("afbeeldingen/about.jpg") no-repeat center #616060;
    background-size: 60px 60px;
    margin-bottom: 30px;
}


.sectie3 {
    display: inline-block;
    text-align: center;
    color: #616060;
    font-size: 18pt;
}

/* nog niet volledig responsive :/ */
@media screen and (max-width: 1025px) {
    .secties {
        display: block;
        color: #575451;
        font-size: 18pt;
        padding-left: 1px;
        margin-top: 0px;
        padding-bottom: 20px;
    }

    .sectie1 {
        align-content: center;
        padding-top: 100px;
        padding-right: 25px;
        padding-left: 40px;
    }

    .sectie2 {
        padding-left: 0;
        padding-right: 25px;
    }

}

.circle3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("afbeeldingen/berg.png") no-repeat center #616060;
    background-size: 60px 60px;
    margin-bottom: 30px;
}

.body {
    background-color: #f7f7f7;
    width: 100%;
    height: 400px;
    margin-bottom: 150px;
    position: relative;
}

#subjectsco {
    position: absolute;
    top: 10%;
    left: 58%;
    text-decoration-line: underline;
    text-decoration: none;
    color: inherit;
}

#subjectsco:hover {
    cursor: pointer;
}

#subjectuex {
    position: absolute;
    top: 10%;
    left: 22%;
    text-decoration-line: underline;
}

#ex1 {
    position: absolute;
    top: 35%;
    left: 15%;
    text-decoration-line: underline;
    display: list-item;
}

#ex2 {
    position: absolute;
    top: 45%;
    left: 15%;
    text-decoration-line: underline;
    display: list-item;
}

#ex3 {
    position: absolute;
    top: 35%;
    left: 40%;
    text-decoration-line: underline;
    display: list-item;
}

#ex4 {
    position: absolute;
    top: 45%;
    left: 40%;
    text-decoration-line: underline;
    display: list-item;
}

#line {
    width: 0%;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    top: 30%;
    left: 30%;
}

#subjectdev {
    position: absolute;
    top: 10%;
    left: 65%;
    text-decoration-line: underline;
}


#subjectdev:hover {
    cursor: pointer;
}

.ex1 {
    position: absolute;
    top: 35%;
    left: 55%;
    text-decoration-line: underline;
    display: list-item;
}

.ex2 {
    position: absolute;
    top: 45%;
    left: 55%;
    text-decoration-line: underline;
    display: list-item;
}

.line {
    width: 0%;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    top: 30%;
    left: 72%;
}

.ex3 {
    position: absolute;
    top: 35%;
    left: 80%;
    text-decoration-line: underline;
    display: list-item;
}

.ex4 {
    position: absolute;
    top: 45%;
    left: 80%;
    text-decoration-line: underline;
    display: list-item;
}

#bodyimage1 {
    background-image: url("afbeeldingen/Strategy.png");
    height: 200px;
    width: 450px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    top: 25%;
}

#bodyimage2 {
    background-image: url("afbeeldingen/UEX.png");
    height: 200px;
    width: 450px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 450px;
    position: absolute;
    right: 0;
    top: 25%;
}

#bodyimage3 {
    background-image: url("afbeeldingen/VisualStudioCode.png");
    height: 200px;
    width: 450px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 800px;
    position: absolute;
    top: 25%;
}

#bodyimage:hover {
    opacity: 0.7;
    transition: 0.5s;
}


.footer {
    background-color: #1F2324;
    height: 250px;
}

#naam {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 25px;
}

#footertext {
    color: #b3aca5;
    text-align: center;
    padding-bottom: 15px;
    line-height: 30px;
    text-decoration-line: underline;
}

/* -------------------------------------------Vakken-----------------------------------------------------------------*/
.containertitle {
    background-color: #f7f7f7;
    height: 100px;
    margin: 10px 100px 10px 75px;
    position: absolute;
    top: 100px;
    width: 90%;

}

#scotitle {
    text-align: center;
    position: relative;
    top: 25%;
    text-decoration-line: underline;
}

.container {
    background-color: #f7f7f7;
    height: 2000px;
    margin: 10px 100px 10px 75px;
    width: 90%;
    position: absolute;
    top: 250px;
    border-radius: 5%;
}

.exercise {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5%;
    max-width: 45%;

}

.paragraaf {
    margin-left: 10px;
    max-width: 45%;
    margin-right: 0px;
    line-height: 20px;
    margin-bottom: 10px;
}

#userpersona {
    background-image: url("afbeeldingen/userpersonaharun.png");
    height: 340px;
    width: 500px;
    display: block;
    float: right;
    margin-right: 100px;
    background-size: 100%;
}

.hr {
    border: 1px solid black;
    width: 85%;
    position: relative;
    left: 7%;
    margin-top: 100px;
}

#competitorpdf {
    color: grey;
    text-decoration-line: underline;

}

#competitorpdf:hover {
    cursor: pointer;
}

.competitorpng {
    background-image: url("afbeeldingen/competitors.png");
    height: 340px;
    width: 500px;
    float: right;
    display: block;
    margin-right: 100px;
    background-size: 100%;
}

#sprint {
    font-size: large;
    text-decoration-line: underline;
}

#briefing {
    float: right;
    margin-bottom: 20px;
    margin-top: 45px;
    margin-right: 30px;
}

.leeruitkomstopdract{
width: 750px;
height: 400px;
position: relative;
float: right;
margin-left: 20px;
}

.doelgroeppng {
    background-image: url("afbeeldingen/doelgroep.png");
    height: 365px;
    width: 350px;
    max-width: 100%;
    float: left;
    background-size: 75%;
    
    background-repeat: no-repeat;

}

.enquete {
    background-image: url("afbeeldingen/enquete.png");
    height: 365px;
    width: 400px;
    max-width: 100%;
    float: right;
    background-size: 75%;
    
    background-repeat: no-repeat;

}

.button {
    background-color: #e7e7e7;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    align-items: center;
    position: relative;
    margin-left: 50px;
    top: 375px;

}

.button:hover {
    cursor: pointer;
}

.reflectie{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 15%;
    max-width: 45%;

}

