* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: none;
    background-size: cover;
    color: black;
}

.welkom {
    position: absolute;
    font-size: 22px;
    top: 33%;
    right: 25%;
    /*schijnbaar is 50% niet de helft :/*/
}

.timer {
    position: absolute;
    top: 25px;
    font-size: 16px;
    right: 10%;
}

/*.timerbalk {
    width: 30px;
    background-color: grey;
    height: 20px;
}*/

#button {
    position: absolute;
    top: 75%;
    right: 51%;

    background-color: grey;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px
}

.vraagintro {
    position: absolute;
    left: 50%;
}

.vraag1 {
    position: absolute;
    left: 48%;
    top: 35%;
    width: 20%;
    font-size: 20px;
    /*background: rgb(152, 209, 223);*/
}

.antwoord1 {
    /*background: rgb(116, 241, 168);*/
    position: absolute;
    left: 46%;
    top: 75%;
}

.antwoord1button {
    padding: 15px;
    margin: 2px;
    color: black;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}

#opnieuw {
    display: none;
}

#volgende {
    display: none;
}

#timer {
    position: absolute;
    left: 625px;
    bottom: 450px;
    font-size: 25px;
}

.vraag1a {
    position: absolute;
    left: 50%;
}

#btnkliks {
    position: absolute;
    left: 45%;
    top: 50%;
    align-content: center;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    color: black;
    border-radius: 10px;
    border-bottom: 4px solid silver;
    padding: 20px;
    background: none;
}

#btnkliks:hover {
    background-color: grey;
}

#volgende2 {
    position: absolute;
    top: 70%;
    left: 50%;
    display: none;

}

#vraag2 {
    position: absolute;
    left: 48%;
    top: 35%;
    width: 20%;
    font-size: 20px;
}

#timer2 {
    position: absolute;
    left: 95%;
    top: 40px;
    font-size: 25px;
}

#opnieuw2 {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
}

.slidervraag {
    position: absolute;
    left: 50%;
    top: 55%;
}

.vraag2a {
    position: absolute;
    font-size: 22px;
    top: 35%;
    left: 50%;
}

#volgende3 {
    display: none;
    position: absolute;
    top: 250px;
    left: 25%;
}

#opnieuw3 {
    display: none;
    position: absolute;
    top: 170%;
}

#timer3 {
    position: absolute;
    left: 95%;
    top: 40px;
    font-size: 25px;
}

.einde {
    position: absolute;
    font-size: 22px;
    top: 33%;
    right: 40%;
}

.eind{
    position: absolute;
    left: 50%;
}

#opnieuw4{
    position: absolute;
    top: 49%;
    right: 45%;
}
