* {
    margin: 0;
    padding: 0;
    font-family: Exo\ 2,Helvetica Neue,Tahoma,Arial,Hiragino Kaku Gothic ProN,Meiryo,Microsoft YaHei,Apple SD Gothic Neo,sans-serif;
    font-size: 14px;   
}

body {    
    background-color: #111;
    background-size: cover;
    color: rgb(255, 221, 238);
}
.Box{
    margin-left: 100px; 
    margin-top: 10px;
    margin-right: 100px;
    padding: 20px 70px 20px 70px;
    position: relative;
    background-color: #201823;   
}
.headerafbeelding{
    padding: 20px 70px 10px 70px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    margin-bottom: 20px;
}

.pheader{
    font-size: 20px;
    margin-bottom: 20px;
}

.hr{
    margin-bottom: 20px;
}
.paragraaf{
    line-height: 1.5;
    margin-bottom: 20px;
}
.h{
    margin-bottom: 15px;
    font-size: 16px;
    margin-top: 30px;
}
.hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.knop2{
    background-image: none;
}

h4 {
    color: #a89c9c;
}

.NavigatieBar {
    background-color: #2C2F33;
    position: relative;
    width:100%;
    color: rgb(255, 221, 238);
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-bottom: 25px;
    z-index: 1;
}

.dropdown-hover{
    color: white;
    background-color: #2C2F33;
    border:none;
}

.dropdown-hover:hover{
    color: #c1c1c1;
    cursor: pointer;
}

.dropdownmenu{
    background-color: #2C2F33;
    display: none;
    position: absolute;
    padding-top: 15px;
    padding-right: 50px;
}

.dropdownmenu > li{
    padding: 3px;
    list-style-type: none;
    
}
.dropdownmenu > li > a{
    text-decoration: none;
    color: white;
}

.dropdownmenu > li :hover{
    color: #c1c1c1;
}

.dropdownmenu > a:hover{
    color: #c1c1c1;
}


.dropdown-hover:hover .dropdownmenu{
    display: block;
}

.NavigatieBar>li {
    display: inline-block;
    /*anders is het verticaal ipv horizontaal.*/
    padding-right: 50px;
}

.NavigatieBar>li>a {
    text-decoration: none;
    /* anders staat er een streep onder */
    color: #ffffff;
}

.NavigatieBar>li>:hover{
    color: #c1c1c1;
}

.week1L {
    float: left;
}

.week1R {
    float: right;
}

.dialogflow {
    color: aqua;
}

a {
    color: aqua;
}

a:hover {
    color: blue;
}

#botbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#botbutton:hover {
    background-color: rgb(116, 245, 120);
}

.knoppagina {
    color: black;
    background-image: none;
    background-color: rgb(35, 192, 240);
}

.slider1 {
    position: absolute;
    top: 15px;
    left: 500px;
}

.slider2 {
    margin-left: 780px;
    position: absolute;
    top: 15px;
}

.slider3 {
    float: right;
    margin-top: 0px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    position: absolute;
    top: 15px;
}

#btn1 {
    position: absolute;
    text-align: center;
    top: 125px;
    left: 550px;
    display: inline-block;
    cursor:pointer;
	font-size:25px;
	color:white;
	border-radius:10px;
	border-bottom:4px solid #0045A6;
    padding: 20px; 
    background: black;
    
}

#btn1:hover {
    background-color: rgb(10, 115, 163);
}

#holdbtn {
    margin-left: 0px;
    position: absolute;
    top: 550px;
    left: 200px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: black;
    background-color: aqua;
    text-align: center;
    background: black; 
    color: white;
    border-radius:10px;
	border-bottom:4px solid #0045A6;
}

#holdbtn:hover{
    background-color: rgb(10, 115, 163);
    cursor: pointer;
}

#holdbtn2 {
    margin-left: 0px;
    position: absolute;
    top: 550px;
    left: 400px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: black;
    background-color: aqua;
    text-align: center;
    background: black; 
    color: white;
    border-radius:10px;
	border-bottom:4px solid #0045A6;
  
}

#holdbtn2:hover{
    background-color: rgb(10, 115, 163);
    cursor: pointer;
}

#holdbtn3 {
    margin-left: 0px;
    position: absolute;
    top: 550px;
    left: 600px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: black;
    background-color: aqua;
    text-align: center;
    background: black; 
    color: white;
    border-radius:10px;
	border-bottom:4px solid #0045A6;
   
}

#holdbtn3:hover{
    background-color: rgb(10, 115, 163);
    cursor: pointer;
}

#holdbtn4 {
    margin-left: 0px;
    position: absolute;
    top: 550px;
    left: 800px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: black;
    background-color: aqua;
    text-align: center;
    background: black; 
    color: white;
    border-radius:10px;
	border-bottom:4px solid #0045A6;
   
}

#holdbtn4:hover{
    background-color: rgb(10, 115, 163);
    cursor: pointer;
}

#holdbtn5 {
    margin-left: 0px;
    position: absolute;
    top: 550px;
    left: 1000px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: black;
    background-color: aqua;
    text-align: center;
    background: black; 
    color: white;
    border-radius:10px;
	border-bottom:4px solid #0045A6;
   
}

#holdbtn5:hover{
    background-color: rgb(10, 115, 163);
    cursor: pointer;
}

.box {
    background-color: rgb(35, 192, 240);
    height: 50px;
    padding-bottom: 2px;
    width: 100%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

#block {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: silver;
    top: 365px;
    left: 300px;
    
}

#block2 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: silver;
    top: 365px;
    left: 850px;
    
}

#backgroundtekst {
    position: absolute;
    top: 15px;
    left: 150px;
    font-size: 25px;
}

#hr {
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

#hr2{
    width: 99%;
    position: absolute;
    top: 250px;
    
}

#hr3{
    width: 99%;
    position: absolute;
    top: 500px;
    
}

audio{
    display: hidden;
}

.lijn{
    height: 248px;
    border-left: 2px solid;
    position: absolute;
    top: 252px;
    left: 650px;
    color: white;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: silver;
    border-radius: 50%;
    display: none;
}

#dot{
    position: absolute;
    top: 150px;
    left: 20px;
}

#dot2{
    position: absolute;
    top: 150px;
    left: 120px;
}
#dot3{
    position: absolute;
    top: 150px;
    left: 210px;
}
#dot4{
    position: absolute;
    top: 150px;
    left: 310px;
}
#dot5{
    position: absolute;
    top: 150px;
    left: 410px;
}
#dot6{
    position: absolute;
    top: 150px;
    left: 800px;
}
#dot7{
    position: absolute;
    top: 150px;
    left: 900px;
}
#dot8{
    position: absolute;
    top: 150px;
    left: 1000px;
}
#dot9{
    position: absolute;
    top: 150px;
    left: 1100px;
}

#dot10{
    position: absolute;
    top: 150px;
    left: 1200px;
}

.imagebox{
    width: 650px;
    height: 250px;
    margin: 25px;
}



.startweekfoto1{
background-image: url("afbeeldingen/startweek_foto.png");
background-size: 400px;
width: 250px;
height: 250px;
display: inline-block;
}

.startweekfoto2{
    background-image: url("afbeeldingen/startweek_foto_after.png");
    background-size: 400px;
    width: 250px;
    height: 250px;
    display: inline-block;
    float: right;
}

.piramide{
    background-image: url("afbeeldingen/piramide.jpg");
    background-size: 200px;
    width: 200px;
    height: 260px;
    margin-bottom: 20px;

}