* {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-family: montserrat;
}

body {
    background-image: none;
    background-size: cover;
    color: black;
    font-size: 16px;
}

.titletext {
    text-align: center;
}

.Mens {
    color: blue;
}

.Erger {
    color: green;
}

.Je {
    color: rgba(255, 196, 0, 0.863);
}

.Niet {
    color: red;
}

.bold {
    font-weight: 900;
}

.images {
    float: left;
    display: block;
    padding: 5px;
    text-align: center
}
.realisatie{
    clear: left;
}
