* {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-family: montserrat;
}

body {
    background-image: none;
    background-size: cover;
    color: black;
    font-size: 16px;
}

.titel{
text-align: center;
}

.DeoBus{
    text-align: center;
}

.buttons{
    text-align: center;
}

.prototype{
    text-align: center;
}
.technischontwerp{
    text-align: center;
}

.userinterface{
    text-align: center;
}

.DeKnop{
    text-align: center;
}

#buttonknop{
background-color: #4CAF50;
font-size: 15px;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
}

#buttonknop:hover {
background-color: rgb(116, 245, 120);
}